php_value post_max_size 1001M
php_value upload_max_filesize 1000M
php_value memory_limit 2000M

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 