/*
CSS - CSGO Stats
Grégoire Layet and Tom Jegou
Created 11 oct. 2021
*/

/* init + global css*/
:root{
    --main-bg-color: #333;
    --secondary-bg-color: #666;
    --main-fg-color: #fcfcfc;
    --secondary-fg-color: #ddd;
    --accent-color: rgb(211, 136, 255);
    --accent-color-darker: rgb(149, 96, 180);
}
*{
    margin: 0;
    padding: 0;
    /*transition: color, background-color 0.2s; */
}
a{ 
    text-decoration: none; 
    color: var(--main-fg-color);
}
body {
    /* to stick the footer to bottom, even with no content*/
	min-height: 100vh;
	display: flex;
	flex-direction: column; 

    background-color: var(--secondary-bg-color);
    color: var(--main-fg-color);
    font-family: 'Arial';
}
main {
    /* to stick the footer to bottom, even with no content*/
	flex-grow: 1;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.hidden{
    display: none;
}

/* HEADER CSS */
header {
    background-color: var(--main-bg-color);
}
header div.flex{
    width: 100%;
    height: 100px;
    display: inline-flex;
    align-items: center;
}
header div.flex span{
    flex:1;
    display: flex;
}
header div.flex span.left{
    justify-content: flex-start;
}
header div.flex span.center{
    justify-content: space-around;
}
header div.flex span.right{
    justify-content: flex-end;
}
header .link{
    display: inline-block;
    font-size: 22px;
    padding: 0 6px;
}
header .link a{
   border-bottom: var(--main-fg-color) 1px solid;
}
header .logo{
    font-size: 36px;
}

header #dark-mode-btn{
    border: 0;
    background-color: var(--secondary-bg-color);
    border-radius: 50px;
    height: 35px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #dark-mode-btn img{
    height: 25px;
    width: auto;
}

/* FOOTER CSS */
footer{
    height: 60px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
footer p{
    font-size: 14px;
}
footer p.bdd{
    font-size: 12px;
}
footer p.bdd a{
    color: var(--secondary-fg-color);
}

/* HOME CSS */
main#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main#home form{
    width: fit-content;
    margin-bottom: 120px;
    text-align: center;
}
main#home .label-file{
    display: block;
    cursor: pointer;
    color: var(--main-fg-color);
    font-weight: bold;
    font-size: 30px;
}
main#home .label-file:hover{
    color: var(--accent-color);
}
main#home .input-file{
    display: none;
}
main#home input[type=submit]{
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
    border: 0;
    color: var(--main-fg-color);
    background-color: var(--accent-color);
    transition: background-color 0.1s;
}
main#home input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--accent-color-darker);
    transition: background-color 0.1s;
}
body.light main#home input[type=submit]{
    color: var(--secondary-bg-color);
}
.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--secondary-bg-color);
}
.loading.hidden{
    display: none;
}
.loading img{
    animation: rotation 2s infinite linear;
    width: 50px;
    height: auto;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* Card css */
main.container .card{
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: var(--main-bg-color) 0px 4px 12px;
}
main.container .s-card{
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: var(--main-bg-color) 0px 4px 12px;
}
main.container .card .left-item{
    flex: 3;
}
main.container .card .right-item{
    flex: 2;
}

main.container .card:first-child{
    margin-top: 15px;
}
main.container .card h2{
    font-size: 30px;
}
main.container .card.game-info{
    display: flex;
    align-items: center;
}
main.container .card.game-info .right-item{
    display: flex;
    justify-content: space-evenly;
}
main.container .card.scores{
    padding: 0;
}

main.container .card.scores li{
    list-style: none;
    padding: 10px 20px;
    display: flex;   
    border-bottom: 1px solid var(--main-fg-color);
}
main.container .card.scores li.team{
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    border-bottom-color: var(--accent-color);
}
main.container .card.scores li .right-item{
    display: flex;
}
main.container .card.scores li .right-item > span{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
main.container .card.scores a:last-child li{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 0;
}
main.container .card.scores li:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* demo css */
.demo-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.demo-info form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.demo-info form #input-demo-name{
    flex: auto;
    padding: 2px 10px;
    width: 100%;
    font-size: 25px;
    border: 0;
    border-bottom: 2px solid var(--accent-color);
    background-color: rgba(0, 0, 0, 0);
    color: var(--main-fg-color);
}
.demo-info form #input-demo-name::placeholder{
    color: var(--secondary-fg-color);
}
.demo-info form #input-submit{
    flex: 0;
    margin-left: 10px;
    padding: 5px 20px ;
    height: fit-content;
    border: 0;
    border-radius: 30px;
    color: var(--main-fg-color);
    background-color: var(--accent-color);
    transition: background-color 0.2s;
}
body.light .demo-info form #input-demo-name{
    border-bottom-color: var(--accent-color-darker);
}
body.light .demo-info form #input-submit{
    color: var(--secondary-bg-color);
    background-color: var(--accent-color-darker);
}
.demo-info .date,
.demo-info .map{
    padding-top: 5px;
    font-size: 15px;
    color: var(--secondary-fg-color);
}
.demo-info .date{
    margin-left: 5px;
}
.container#demo .card.game-info .right-item{
    align-items: center;
}

a.del-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    transition: background-color 0.2s;
}
a.del-btn img{
    filter: invert(100%);
}
body.light a.del-btn{
    background-color: var(--accent-color-darker);
}

.demo-info form #input-submit:hover,
a.del-btn:hover{
    background-color: var(--accent-color-darker);
    cursor: pointer;
    transition: background-color 0.2s;
}
body.light .demo-info form #input-submit:hover,
body.light a.del-btn:hover{
    background-color: var(--accent-color);
}

.container#demo a.del-btn{
    width: 45px;
    height: 30px;
    border-radius: 30px;
}
.container#demo a.del-btn img{
    width: auto;
    height: 25px;
}

.demos a.del-btn{
    width: 35px;
    height: 100%;
    border-radius: 30px;
    margin-left: 10px;
}
.demos a.del-btn img{
    width: auto;
    height: 15px;
}
.round{
    width: fit-content;
    margin: 0 auto;
}
.round-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.round-info h4{
    width: fit-content;
}
.round-info h4:last-child{
    font-size: clamp(20px, 13vw, 150px);
    color: var(--accent-color);
    font-weight: 100;
}
.round li{
    margin: 5px 0;
    padding: 5px 10px;
    border: 2px var(--main-bg-color) solid;
    border-radius: 30px;
    width: fit-content;
    list-style: none;
}
.round li a{
    color: var(--accent-color);
}


@media ( max-width : 45em ){
    .container#demo .card.game-info{
        flex-direction: column;
    }
    .container#demo .card.game-info .left-item{
        flex: auto;
    }
    .container#demo .card.game-info .right-item{
        flex: auto;
        margin-top: 10px;
        width: 100%;
    }
    .round-info{
        display: block;
    }
    .round-info h4:last-child{
        font-size: initial;
        font-weight: 700;
        color: var(--accent-color);
    }
}

/* players and demos pages*/
main.container div.header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}
.search-bar{
    display: flex;
    justify-content: end;
    align-items: center;
}
.search-bar input{
    margin-left: 5px;
    border: 2px solid var(--accent-color);
    background-color: var(--main-bg-color);
    border-radius: 50px;
    padding: 5px 10px;
    width: 160PX;
    color: var(--main-fg-color)
}
.search-bar input[type=date]{
    width: fit-content;
}
.search-bar input[type=date]::-webkit-inner-spin-button { 
    color: var(--accent-color)
}
.search-bar span{
    margin-left: 10px;
}
.search-bar img{
    height: 20px;
    width: auto;
    padding-bottom: 3px;
}
.players li,
.demos   li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 15px;
}
.players .elem,
.demos   .elem{
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    margin-bottom: 8px;
    box-shadow: var(--accent-color-darker) 0px 4px 12px;
}
.players li right-item,
.demos   li .right-item{
    display: flex;
    justify-content: space-around;
}

/* PLAYER CSS */

.player-card{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
}
.player-card .title{
    font-weight: 600;
    margin-right: 10px;
}
.player-card .data{
    font-weight: 600;
    color: var(--accent-color);
}
.map-stats{
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map-stats .map-circle{
    position: relative;
}
.map-stats .map-circle .map-img{
    display: block;
    width: 100%;
    border-radius: 50%;
    filter: blur(3px);
    opacity: 0.4;
}
.map-stats .map-circle .map-border{
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    overflow: hidden;
}
.map-stats .map-circle .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.map-stats .map-circle .map-name{
    font-weight: 600;
    font-size: 20px;
}
.map-stats .side_stats .graphs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.map-stats .side_stats .t,
.map-stats .side_stats .ct{
    width: 100%;
    height: 45px;
    position: relative;
}
.map-stats .side_stats .t .graph{
    background-color: var(--accent-color-darker);
}
.map-stats .side_stats .ct .graph{
    background-color: var(--accent-color);
}
.map-stats .side_stats .t .graph,
.map-stats .side_stats .ct .graph{
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
}
.map-stats .side_stats .line{
    background-color: var(--secondary-bg-color);
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    border-radius: 5px;
}
.map-stats .side_stats .winrate,
.map-stats .side_stats .side-winrate{
    font-weight: 600;
    font-size: 20px;
}
.map-stats .side_stats .winrate{
    color: var(--accent-color)
}
.weapon-stats{
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.weapon-stat{
    color: var(--accent-color)
}
.weapon-death-graph{
    height: 20px;
    width: 100%;
}
.weapon-death-graph .graph{
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 5px;
}
.heatmap{
    position: relative;
    height: 100%;
    width: 100%;
}
.heatmap img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.heatmap .points{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.heatmap .point{
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: red;
    opacity: 0.5;
    border-radius: 3px;
    z-index: 2;
}

/* Weapon css */
.container#weapons .row{
    padding: 10px 0;
}
.container#weapons .row .col-1{
    text-align: right;
}
.container#weapons .row .col-3{
    text-align: center;
}
.container#weapons .row .col-2{
    text-transform: capitalize;
}
.container#weapons .row#header{
    margin: 10px 0;
    border-bottom: 2px solid var(--accent-color);
}
.container#weapons .row:nth-child(odd){
    background-color: var(--main-bg-color);
    border-radius: 20px;
}
.container#weapons .row:last-child{
    margin-bottom: 10px;
}

/* media queries */
@media ( max-width : 1100px ){
    .container{
        width: 95%;
    }
}
@media ( max-width : 900px ){
    main.container div.header{
        flex-direction: column;
    }
    .search-bar {
        justify-content: start;
    }
    .search-bar > div{
        display: flex;
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .map-stats{
        display: block;
    }
}
@media only screen and (min-width: 45em){
    .player-card{
        flex-direction: column;
    }
    .player-card .title{
        margin-right: 0;
    }
}
@media ( max-width : 550px ){
    
    main.container div.header{
        flex-direction: column;
    }
    .search-bar {
        flex-direction: column;
        align-items: flex-start;

    }
    .search-bar input{
        margin-left: 0;
        width: 100% !important;
        box-sizing: border-box;
    }
    .search-bar > div{
        margin-top: 3px;

        box-sizing: border-box;
        width: 100% !important;
    }
}