/*
CSS - CSGO Stats
Grégoire Layet and Tom Jegou
Created 11 oct. 2021
*/

/* init + global css*/
:root{
    --main-bg-color: #333;
    --secondary-bg-color: #666;
    --main-fg-color: #fcfcfc;
    --secondary-fg-color: #ddd;
    --accent-color: rgb(211, 136, 255);
    --accent-color-darker: rgb(149, 96, 180);
}
*{
    margin: 0;
    padding: 0;
    /*transition: color, background-color 0.2s; */
}
a{ 
    text-decoration: none; 
    color: var(--main-fg-color);
}
body {
    /* to stick the footer to bottom, even with no content*/
	min-height: 100vh;
	display: flex;
	flex-direction: column; 

    background-color: var(--secondary-bg-color);
    color: var(--main-fg-color);
    font-family: 'Arial';
}
main {
    /* to stick the footer to bottom, even with no content*/
	flex-grow: 1;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.hidden{
    display: none;
}

/* HEADER CSS */
header {
    background-color: var(--main-bg-color);
}
header div.flex{
    width: 100%;
    height: 100px;
    display: inline-flex;
    /*justify-content: space-between;*/
    align-items: center;
}
header div.flex span{
    flex:1;
    display: flex;
}
header div.flex span.left{
    justify-content: flex-start;
}
header div.flex span.center{
    justify-content: space-around;
}
header div.flex span.right{
    justify-content: flex-end;
}
header .link{
    display: inline-block;
    font-size: 22px;
    padding: 0 6px;
}
header .link a{
   border-bottom: var(--main-fg-color) 1px solid;
}
header .logo{
    font-size: 36px;
}

header #dark-mode-btn{
    border: 0;
    background-color: var(--secondary-bg-color);
    border-radius: 50px;
    height: 35px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #dark-mode-btn img{
    height: 25px;
    width: auto;
}

/* FOOTER CSS */
footer{
    height: 40px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* HOME CSS */
main#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main#home form{
    width: fit-content;
    margin-bottom: 120px;
    text-align: center;
}
main#home .label-file{
    display: block;
    cursor: pointer;
    color: var(--main-fg-color);
    font-weight: bold;
    font-size: 30px;
}
main#home .label-file:hover{
    color: var(--accent-color);
}
main#home .input-file{
    display: none;
}
main#home input[type=submit]{
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
    border: 0;
    color: var(--main-fg-color);
    background-color: var(--accent-color);
    transition: background-color 0.1s;
}
main#home input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--accent-color-darker);
    transition: background-color 0.1s;
}
body.light main#home input[type=submit]{
    color: var(--secondary-bg-color);
}

/* Card css */
main.container .card{
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: var(--main-bg-color) 0px 4px 12px;
}
main.container .card .left-item{
    flex: 4;
}
main.container .card .right-item{
    flex: 1;
}

main.container .card:first-child{
    margin-top: 15px;
}
main.container .card h2{
    font-size: 30px;
}
main.container .card.game-info{
    display: flex;
    align-items: center;
}
main.container .card.game-info .right-item{
    display: flex;
    justify-content: space-evenly;
}
main.container .card.game-info .date{
    padding-top: 5px;
    font-size: 15px;
    color: var(--secondary-fg-color);
}
main.container .card.scores{
    padding: 0;
}
main.container .card.scores li{
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid var(--main-fg-color);
    display: flex;   
}
main.container .card.scores li.team{
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    border-bottom-color: var(--accent-color);
}
main.container .card.scores li .right-item{
    display: flex;
}
main.container .card.scores li .right-item > span{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
main.container .card.scores li:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 0;
}
main.container .card.scores li:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}