/*
CSS - CSGO Stats
Grégoire Layet and Tom Jegou
Created 11 oct. 2021
*/

/* init + global css*/
:root{
    --main-bg-color: #333;
    --secondary-bg-color: #666;
    --main-fg-color: #fcfcfc;
    --secondary-fg-color: #ddd;
    --accent-color: rgb(211, 136, 255);
    --accent-color-darker: rgb(149, 96, 180);
}
*{
    margin: 0;
    padding: 0;
    /*transition: color, background-color 0.2s; */
}
a{ 
    text-decoration: none; 
    color: var(--main-fg-color);
}
body {
    /* to stick the footer to bottom, even with no content*/
	min-height: 100vh;
	display: flex;
	flex-direction: column; 

    background-color: var(--secondary-bg-color);
    color: var(--main-fg-color);
    font-family: 'Arial';
}
main {
    /* to stick the footer to bottom, even with no content*/
	flex-grow: 1;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.hidden{
    display: none;
}

/* HEADER CSS */
header {
    background-color: var(--main-bg-color);
}
header div.flex{
    width: 100%;
    height: 100px;
    display: inline-flex;
    /*justify-content: space-between;*/
    align-items: center;
}
header div.flex span{
    flex:1;
    display: flex;
}
header div.flex span.left{
    justify-content: flex-start;
}
header div.flex span.center{
    justify-content: space-around;
}
header div.flex span.right{
    justify-content: flex-end;
}
header .link{
    display: inline-block;
    font-size: 22px;
    padding: 0 6px;
}
header .link a{
   border-bottom: var(--main-fg-color) 1px solid;
}
header .logo{
    font-size: 36px;
}

header #dark-mode-btn{
    border: 0;
    background-color: var(--secondary-bg-color);
    border-radius: 50px;
    height: 35px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #dark-mode-btn img{
    height: 25px;
    width: auto;
}

/* FOOTER CSS */
footer{
    height: 40px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* HOME CSS */
main#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main#home form{
    width: fit-content;
    margin-bottom: 120px;
    text-align: center;
}
main#home .label-file{
    display: block;
    cursor: pointer;
    color: var(--main-fg-color);
    font-weight: bold;
    font-size: 30px;
}
main#home .label-file:hover{
    color: var(--accent-color);
}
main#home .input-file{
    display: none;
}
main#home input[type=submit]{
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
    border: 0;
    color: var(--main-fg-color);
    background-color: var(--accent-color);
    transition: background-color 0.1s;
}
main#home input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--accent-color-darker);
    transition: background-color 0.1s;
}
body.light main#home input[type=submit]{
    color: var(--secondary-bg-color);
}

/* Card css */
main.container .card{
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: var(--main-bg-color) 0px 4px 12px;
}
main.container .s-card{
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: var(--main-bg-color) 0px 4px 12px;
}
main.container .card .left-item{
    flex: 4;
}
main.container .card .right-item{
    flex: 1;
}

main.container .card:first-child{
    margin-top: 15px;
}
main.container .card h2{
    font-size: 30px;
}
main.container .card.game-info{
    display: flex;
    align-items: center;
}
main.container .card.game-info .right-item{
    display: flex;
    justify-content: space-evenly;
}
main.container .card.game-info .date{
    padding-top: 5px;
    font-size: 15px;
    color: var(--secondary-fg-color);
}
main.container .card.scores{
    padding: 0;
}
main.container .card.scores li{
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid var(--main-fg-color);
    display: flex;   
}
main.container .card.scores li.team{
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    border-bottom-color: var(--accent-color);
}
main.container .card.scores li .right-item{
    display: flex;
}
main.container .card.scores li .right-item > span{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
main.container .card.scores li:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 0;
}
main.container .card.scores li:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* players and demos pages*/
main.container div.header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}
.search-bar{
    display: flex;
    justify-content: end;
    align-items: center;
}

.search-bar input{
    margin-left: 5px;
    border: 2px solid var(--accent-color);
    background-color: var(--main-bg-color);
    border-radius: 50px;
    padding: 5px 10px;
    width: 160PX;
    color: var(--main-fg-color)
}
.search-bar input[type=date]{
    width: fit-content;
}
.search-bar input[type=date]::-webkit-inner-spin-button { 
    color: var(--accent-color)
}
.search-bar span{
    margin-left: 10px;
}
.search-bar img{
    height: 20px;
    width: auto;
    padding-bottom: 3px;
}
.players li,
.demos   li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 15px;
}
.players .elem,
.demos   .elem{
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    margin-bottom: 8px;
    box-shadow: var(--accent-color-darker) 0px 4px 12px;
}

.player-card{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
}
.player-card .title{
    font-weight: 600;
    margin-right: 10px;
}
.player-card .data{
    font-weight: 600;
    color: var(--accent-color);
}
.map-stats{
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map-stats .map-circle{
    position: relative;
}
.map-stats .map-circle .map-img{
    display: block;
    width: 100%;
    border-radius: 50%;
    filter: blur(3px);
    opacity: 0.4;
}
.map-stats .map-circle .map-border{
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    overflow: hidden;
}
.map-stats .map-circle .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.map-stats .map-circle .map-name{
    font-weight: 600;
    font-size: 20px;
}
.map-stats .side_stats .graphs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.map-stats .side_stats .t,
.map-stats .side_stats .ct{
    width: 100%;
    height: 45px;
    position: relative;
}
.map-stats .side_stats .t .graph{
    background-color: var(--accent-color-darker);
}
.map-stats .side_stats .ct .graph{
    background-color: var(--accent-color);
}
.map-stats .side_stats .t .graph,
.map-stats .side_stats .ct .graph{
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
}
.map-stats .side_stats .line{
    background-color: var(--secondary-bg-color);
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    border-radius: 5px;
}
.map-stats .side_stats .winrate,
.map-stats .side_stats .side-winrate{
    font-weight: 600;
    font-size: 20px;
}
.map-stats .side_stats .winrate{
    color: var(--accent-color)
}
.weapon-stats{
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.weapon-stat{
    color: var(--accent-color)
}
.weapon-death-graph{
    height: 20px;
    width: 100%;
}
.weapon-death-graph .graph{
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 5px;
}
.heatmap{
    position: relative;
    height: 100%;
    width: 100%;
}
.heatmap img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.heatmap .points{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.heatmap .point{
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: red;
    opacity: 0.5;
    border-radius: 3px;
    z-index: 2;
}
/* media queries */
@media ( max-width : 1100px ){
    .container{
        width: 95%;
    }
}
@media ( max-width : 900px ){
    main.container div.header{
        flex-direction: column;
    }
    .search-bar {
        justify-content: start;
    }
    .search-bar > div{
        display: flex;
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .map-stats{
        display: block;
    }
}
@media only screen and (min-width: 45em){
    .player-card{
        flex-direction: column;
    }
    .player-card .title{
        margin-right: 0;
    }
}
@media ( max-width : 550px ){
    
    main.container div.header{
        flex-direction: column;
    }
    .search-bar {
        flex-direction: column;
        align-items: flex-start;

    }
    .search-bar input{
        margin-left: 0;
        width: 100% !important;
        box-sizing: border-box;
    }
    .search-bar > div{
        margin-top: 3px;

        box-sizing: border-box;
        width: 100% !important;
    }
}